<%= div_for line do %>
	<span>CUE: <%= link_to "#{line.cue}", line %> <br />
		<%= "#{line.line}" %>
	</span>
	<span>
		<%= link_to 'Edit', edit_line_path(line) %>
	  <%= link_to 'Destroy', line, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
	</span>
<% end %>