<h1>My Scripts</h1>

<div id="scripts" class="padding10">
  <%= render @scripts %>
</div>

<h4>New Script:</h4>
<%= form_for(Script.new, remote: true) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>
