<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scene.name %>
</p>

<p>
  <b>Script:</b>
  <%= @scene.script_id %>
</p>

<p>
  <b>Order:</b>
  <%= @scene.order %>
</p>


<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
