<p id="notice"><%= notice %></p>

<h1><%= @scene.name %></h1>
<p>from <strong><%= @script.name %></strong></p>
<div id="lines" class="padding10">
	<%= render @lines %>
</div>

<h4>New Line:</h4>
<%= form_for(Line.new()) do |f| %>
  <div class="field">
    <%= f.label :cue %>
    <%= f.text_field :cue %>
  </div>
  <div class="field">
    <%= f.label :line %>
    <%= f.text_field :line %>
  </div>
  <div class"hidden">
  	<%= f.hidden_field :scene_id, :value => @scene.id %>
  	<%= f.hidden_field :order, :value => 0 %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back to scenes', script_path(@scene.script_id) %>
