<%= provide(:title, 'Profile') %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>Profile</h1>
			<p>email: <%= @user.email %></p>
		</section>
  </aside>
  <div class="span8">
  	<h3>Your scripts</h3>
 		<%= render @scripts %>
  	<br />
			<%= form_for(Script.new, remote: true) do |f| %>
			  <div class="field">
			    <%= f.label :title %>
			    <%= f.text_field :title %>
			  </div>
			  <div class="action">
			    <%= f.submit "Create new script", class: "btn btn-large btn-primary" %>
			  </div>
			<% end %>
  </div>
</div>